h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: 400;
}

h1 {
    	text-align: center;
    	color: white;
    	@include rem(font-size, 56px);
    	text-transform: uppercase;
    	margin: 0;
    	margin-left: auto;
    	margin-right: auto;
    }

h2 {
	@include rem(font-size, 25px);
	color: $brand-primary;
	font-weight: 600;
}