#masthead {
	@include row;

	position: fixed;
	z-index: 10;
	width: 100%;
	height: 53px;
	background: white;
	transition: background-color 300ms;

	@include media ($large-screen-up) {
		height: auto;
		height: auto;
		background-color: rgba(255,255,255,0.8);
		
		&.scrolled {
			background: white;

			#social ul li a {
				color: #080707 !important;
				border-color: #080707 !important;
			}

			#social p {
				color: #080707 !important;
			}
		}
	}

	.container {
		position: relative;
	}

	.site-branding {
		top: 0;
	    position: absolute;
	    background: $brand-primary;
		@include rem(padding, 13px 13px);
		width: 80px;

		@include media ($large-screen-up) {
	    	@include rem(padding, 20px 20px);
	    	width: auto;
		}
	}

	.contact-info {
		@include rem(padding-top, 20px);
		display: none;

		@include media ($large-screen-up) {
			display: block;
		}
	}

	.main-navigation {
		display: block;
		position: absolute;
		width: 100%;
		top: 50%;
		margin-top: -12px;
		text-align: center;	
	    
	    #primary-menu {

	    	li {
	    		@include rem(margin, 0 8px);
	    		text-transform: uppercase;
	    		@include rem(font-size, 15px);
	    		font-weight: 700;
    		    display: inline-block;
    			float: none;

    			a {
					&:after {
						content: "";
						opacity: 0;
						height: 2px;
						position: absolute;
						background-color: $medium-gray;
						width: 100%;
						left: 0;
						bottom: -3px;
					}

    			}

	    		&:active, &:hover, &:focus {
	    			
	    			color: $medium-gray;

	    			a {
	    				color: $medium-gray;

	    				&:after {
	    					opacity: 1;
	    				}
	    			}
	    		}
	    	}
	    }
	}

	#social {

		float: right;
		clear: both;
		//@include rem(padding-top, 23px);

		ul {
			list-style: none;
			@include rem(margin-bottom, 4px);

			li {
				display: inline-block;
	    		@include rem(padding, 1px);
	    		@include rem(padding-left, 3px);

	    		a {
			    	@include rem(width, 26px);
			    	display: block;
    				text-align: center;
	    			border: 2.5px solid $dark-gray;
    				border-radius: 50%;

    				.fa {
    					color: $dark-gray;
    				}
	    		}
			}
		}

		p {
			text-align: right;
			text-transform: uppercase;
			color: $dark-gray;
			@include rem(font-size, 12px);
		}
	}

	#phone {
		background-color: $brand-primary;
	    float: right;
	    clear: both;
	    @include rem(padding, 5px 20px);
		//right: 0;
		//top: 86px;

		p {
			color: $background-color;
			font-weight: 700;
			text-transform: uppercase;
			@include rem(margin-bottom, 0);
			@include rem(font-size, 14px);
		}
	}
}