/*==============================
=            GLOBAL            =
==============================*/

#feature_img {
    height: 380px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .container, .row {
    	height: 100%;
    	//min-height: 380px;
    }

    .row {
    	background-color:  rgba(0,0,0,0.15);
    }

    h1 {
    	max-width: 480px;
    	@include rem(font-size, 36px);
    	@include rem(padding, 0 20px);

    	@include media ($medium-screen-up) {
    		padding: 0;
    		@include rem(font-size, 56px);
    	}
    }
}

.bleed-left {
	//position: absolute;
	//left: 0;
}

.bleed-right {
	//position: absolute;
	//right: 0;
}

.pagination, .post-navigation {
	background-color: $light-gray;
	min-height: 60px;

	.nav-links {
		@include outer-container;
		@include rem(padding, 25px 20px);

		@include media ($large-screen-up) {
			@include rem(padding, 25px 0);
		}
	}

	.prev-next-posts {
		@include rem(padding, 25px 20px);

		@include media ($large-screen-up) {
			@include rem(padding, 25px 0);
		}
	}

	.prev-posts-link, .next-posts-link, .nav-next, .nav-previous {
		max-width: 50%;
		display: block;

		a {
			text-transform: uppercase;
    		font-weight: 700;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}

	.next-posts-link, .nav-next {
		float: right;

		a {
			background-image: url(assets/arrow-right-black.svg);
			background-position: right center;
			padding-right: 23px;

			width: 19px;
			overflow: hidden;
			display: inline-block;
			text-indent: -9999px;

			@include media ($medium-screen-up) {
				display: block;
				overflow: visible;
				width: 100%;
				text-indent: 0;
			}

		}
	}

	.prev-posts-link, .nav-previous {
		float: left;

		a {
			background-image: url(assets/arrow-left-black.svg);
			background-position: left center;
			padding-left: 23px;

			width: 19px;
			overflow: hidden;
			display: inline-block;
			text-indent: -9999px;

			@include media ($medium-screen-up) {
				display: block;
				overflow: visible;
				width: 100%;
				text-indent: 0;
			}
		}
	}
}

#car_search {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 6;
	background: rgba(0,0,0,0.7);
	@include rem(padding, 20px);

	@include media ($medium-screen-up) {
		@include rem(padding, 40px);
	}

}

.search-box {
	margin: 0 auto;
	max-width: 100%;

	@include media ($medium-screen-up) {
		max-width: 768px;
		padding: 0 24px;
	}

	#loading {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		opacity: 0;
		z-index: -1;
		background-color: rgba(0,0,0,0.8);
		background-image: url(assets/ajax-loader.gif);
		background-position: center;
		background-repeat: no-repeat;
		transition: all 300ms ease-in-out;

		&.show {
			opacity: 1;
			z-index: 1;
		}
	}

	p {
		display: none;
		float: left;
		width: 34%;
		color: #999999;
		background: white;
		line-height: 3.1;
		margin: 0;
		padding: 0px 10px;

		@include media ($medium-screen-up) {
			display: block;
		}

	}

	select {
		float: left;
		width: 50%;
		color: #999999;
		background: white;
		border-radius: 0;
		border: 0;
		box-shadow: none;
		outline: 0;
		padding: 0 10px;
		line-height: 3.1;
		border-left: 1px solid #999;
		background-image: url(assets/dropdown.svg);
		background-repeat: no-repeat;
		background-position: 97% center;
		background-size: 10px auto;
		-webkit-appearance: none;

		@include media ($medium-screen-up) {
			width: 23%;
		}

	}

	#search_cars {
		float: left;
		width: 100%;
		color: white;
		border: 0;
		background: #666666;
		padding: 0 10px;
		text-align: center;
		line-height: 3.1;

		@include media ($medium-screen-up) {
			width: 20%;
		}

	}

}

#vehicle_results_box {
	background: #f9f9f9;

	#loader {
		transition: all 300ms ease-in-out;

		h3 {
			padding: 40px;
			text-align: center;
			margin: 0;
			font-size: 18px;
			text-transform: uppercase;
			transition: all 300ms ease-in-out;
		}

		&.hide {
			opacity: 0;

			h3 {
				padding: 10px;
			}
		}
	}

	.search_result {
		float: left;
		width: 100%;
		margin-bottom: 17px;
		border-bottom: 1px solid #000;
		padding-bottom: 17px;

		&:last-of-type {
			border-bottom: 0;
		}
		
		.img {
			float: left;
			width: 100%;
			margin-bottom: 15px;

			@include media ($medium-screen-up) {
				width: 30%;
			}
		}

		img {
			float: left;
			width: 100%;
			position: relative;

			&:after {
				content: "Awaiting Iamge";
				display: block;
				font-size: 16px;
				color: #333333;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				text-align: center;
				background: #cccccc;
				padding: 114px 0;
			}
		}

		.vehicle_info {
			float: left;
			width: 100%;

			@include media ($medium-screen-up) {
				width: 70%;
				padding-left: 30px;
			}

			.title {
				float: left;
				clear: none;
				margin: 0 0 20px 0;
				font-size: 25px;
				line-height: 1;
			}

			.price {
				float: left;
				clear: none;
				margin-bottom: 20px;
				color: $brand-secondary;
				font-size: 25px;
				line-height: 1;

				@include media ($medium-screen-up) {
					float: right;
				}

				&:before {
					content: "£";
				}
			}

			.synopsis {
				float: left;
				width: 100%;
			}

			.read-mores {
				float: left;
				width: 100%;
				text-align: right;

				a {
					padding: 15px;
					margin-bottom: 15px;
					border: 1px solid;
					float: right;
					width: 100%;
					text-align: center;

					&:last-of-type {
						margin-bottom: 0;
					}

					@include media ($medium-screen-up) {
						width: auto;
						margin-bottom: 0;
						margin-left: 15px;
					}

				}
			}
		}
	}
}


/*==============================
=            HOME             =
==============================*/

.home {

	#masthead {

    	#phone {
    		display: none;
    	}

    	#social  {
			padding-bottom: 40px;
    		
    		@include media ($medium-screen-up) {
    			ul {
    				li {
    					a {
    						color: white;
    						border-color: white;

    						.fa {
    							color: inherit;
    						}
    					}
    				}
    			}

    			p {
    				color: white;
    			}
    		}
    	}

		.main-navigation {
		
			#primary-menu {
				
				li {

					a {

					}

					&:hover {
						color: white;
						border-color: white;

						a {
							color: white;

		    				&:after {
	    						opacity: 1;
	    						background-color: white;
	   						}
						}
					}
				}
			}
		}
	}

	#feature_slider {
		height: 100%;
		min-height: 100%;
		height: 100vh;
	    background: #f9f9f9;

	    .row, .slick, .slick-list, .slick-track, .slick-slide {
	    	height: 100%;
	    }

	    .slick-slide {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;

			.table {
				background-color:  rgba(0,0,0,0.15);
			}
	    }

		.caption {
			max-width: 580px;
			margin-left: auto;
			margin-right: auto;
			padding: 0 20px;
			text-align: center;
		}

		h2 {			
			text-align: center;
			color: white;
			@include rem(font-size, 36px);
			text-transform: uppercase;
			margin: 0;


			@include media ($medium-screen-up) {
				@include rem(font-size, 56px);	
			}
		}

		a {
			background-image: url(assets/arrow-right-white.svg);
			background-position: left bottom;
			background-repeat: no-repeat;
			background-size: 21px 19px;
			padding: 0 0 23px 0;
			//float: right;
			float: none;
			color: white;
			text-transform: uppercase;
			margin-top: 5px;
		}
	}

	.entry-content {
		text-align: center;
		@include rem(padding, 50px 0);
		margin-top: 0;		
	}

	#featured-video {
		width: 100%;
		min-height: 550px;
		height: 550px;
		background-repeat:no-repeat;
		background-position: center;
		background-size: cover;

		h2, p, a {
			color: white;
		}

		h2 {
			@include rem(font-size, 36px);
			text-transform: uppercase;
			margin: 0;

			@include media ($medium-screen-up) {
				@include rem(font-size, 56px);
			}
		}

		p {
			font-family: $heading-font-family;
			font-size: 16px;
			font-weight: 300;
			margin-top: 5px;
			padding: 0 20px;
		}

		a {
			background-image: url(assets/play.svg);
			width: 90px;
			height: 90px;
			display: inline-block;
			text-indent: -9999px;
		}
	}

	#section_one {
		position: relative;
		float: left;
		width: 100%;

		.secondary-text {
			float: left;
			width: 100%;
			min-height: 400px;
			height: 100%;

			@include media ($medium-screen-up) {	
				width: 33.333%;
			}

			.table {
				max-width: 250px;
				margin: auto;
				@include rem(padding, 50px 0);

				@include media ($medium-screen-up) {
					@include rem(padding, 50px 20px);
				}
			}

			.more {
				background-image: url(assets/arrow-right-black.svg);
				background-position: left bottom;
				background-repeat: no-repeat;
				background-size: 21px 19px;
				padding: 0 0 23px 0;
				float: left;
				text-transform: uppercase;
				margin-top: 5px;
			}
		}

		.secondary-images {
			float: left;
			width: 100%;
			min-height: 400px;
			height: 100%;

			@include media ($medium-screen-up) {	
				width: 66.666%;
			}

			.img {
				float: left;
				width: 100%;
				height: 250px;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: top center;

				@include media ($medium-screen-up) {	
					width: 50%;
					height: 100%;
				}


				.more {
					background-image: url(assets/arrow-right-white.svg);
					background-position: left bottom;
					background-repeat: no-repeat;
					background-size: 21px 19px;
					padding: 0 0 23px 0;
					float: right;
					color: white;
					text-transform: uppercase;
					margin-top: 5px;
					margin-right: 20px;
					margin-bottom: 20px;
				}

			}
		}
	}

	#section_two {
		position: relative;
		float: left;
		width: 100%;

		.tertiary-img {
			float: left;
			width: 100%;
			height: 250px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;

			@include media ($medium-screen-up) {
				width: 66.666%;
				height: 550px;
			}

			h3, a {
				color: white;
			}

			.caption {
				margin: 0 auto;
				display: inline-block;
				padding: 0 20px;
			}

			h3 {
				color: white;
				@include rem(font-size, 56px);
				text-transform: uppercase;
				margin: 0;
			}

			.more {
				background-image: url(assets/arrow-right-white.svg);
				background-position: left bottom;
				background-repeat: no-repeat;
				background-size: 21px 19px;
				padding: 0 0 23px 0;
				float: right;
				text-transform: uppercase;
				margin-top: 5px;
			}
		}

		.tertiary-text {
			float: right;
			width: 100%;
			min-height: 400px;
			height: 100%;

			@include media ($medium-screen-up) {
				width: 33.333%;
			}

			.table {
				max-width: 250px;
				margin: auto;
				@include rem(padding, 50px 0);

				@include media ($medium-screen-up) {
					@include rem(padding, 50px 20px);
				}

			}

			.more {
				background-image: url(assets/arrow-right-black.svg);
				background-position: left bottom;
				background-repeat: no-repeat;
				background-size: 21px 19px;
				padding: 0 0 23px 0;
				float: left;
				text-transform: uppercase;
				margin-top: 5px;
			}
		}
	}
}

/*==============================
=         OUR VEHICLES         =
==============================*/

.our-vehicles {
	.entry-content {
		margin-top: 0;
	}
}

.entry-content {

	.results {
		@include row;
		@include rem(margin-top, 50px);

		.vehicle {
			@include span-columns(12);
			@include omega(2n);
			@include rem(margin-bottom, 55px);

			@include media ($medium-screen-up) {
				@include span-columns(4.5);
			}

			@include media ($large-screen-up) {
				@include span-columns(6);
			}

			img {
				@include rem(margin-bottom, 21px);
				width: 100%;
			}

			.entry-title {
				line-height: 0;

				h2 {
					@include rem(font-size, 24px);
					margin: 0;
				}
				
				.price {
					
					span {
						color: $brand-secondary;
					}
					
					font-weight: 600;
					@include rem(font-size, 24px);
					@include rem(margin-bottom, 25px);
				}
			}

			.entry-content {
				@include rem(margin-top, 20px);

				.more {
					background-image: url(assets/arrow-right-black.svg);
					background-position: left center;
					background-repeat: no-repeat;
					background-size: 21px 19px;
					padding: 0 0 0 32px;
					float: left;
					text-transform: uppercase;
				}
			}
		}
	}
}

.cta {
	background-color: $brand-secondary;
	text-align: center;
	height: 300px;

	.cta-text {

		h3 {
			@include rem(font-size, 32px);
			color: white;
			text-transform: uppercase;
			margin: 0 auto;
			line-height: 0.875;
			@include rem(padding, 0 20px);

			@include media ($medium-screen-up) {
				@include rem(font-size, 42px);
			}
		}

		p {
			font-family: $heading-font-family;
			color: white;
			@include rem(font-size, 16px);
			margin: 0;
			font-weight: 300;
			@include rem(padding, 0 20px);

			@include media ($medium-screen-up) {
			}
		}

		.more {
			background-image: url(assets/arrow-right-white.svg);
			background-position: left center;
			background-repeat: no-repeat;
			background-size: 21px 19px;
			padding: 0 0 0 32px;
			margin-top: 50px;
			float: none;
			color: white;
			display: inline-block;
			text-transform: uppercase;
		}
	}
}

/*==============================
=          SINGLE CAR          =
==============================*/

.single-cars {
	.entry-content {
		@include rem(margin-bottom, 50px);
	}	
}

.entry-content {

	.vehicle-intro {

		.description {
			@include span-columns(12);

			hr {
				max-width: 40px;
				@include rem(margin-bottom, 20px);
			}

			@include media ($medium-screen-up) {
				@include span-columns(6);
			}

			@include media ($large-screen-up) {
				@include span-columns(8);
			}
		}

		.spec {
			@include span-columns(12);

			hr {
				max-width: 40px;
				@include rem(margin-bottom, 20px);
			}

			@include media ($medium-screen-up) {
				@include span-columns(3);
			}

			@include media ($large-screen-up) {
				@include span-columns(4);
			}

			h2 {
				span {
					color: $brand-secondary;
				}
			}

			dl {
				dt, dd {
    				float: left;
    				width: 50%;
    				margin: 0;
				}
			}
		}
	}
}

.car-details {
	float: left;
	width: 100%;

	.feature_thumb {
		height: 250px;
		background-repeat:no-repeat;
		background-size: cover;
		background-position: center;

		@include media ($medium-screen-up) {
			height: 400px;
		}
	}


	#left-section {
		position: relative;
		float: left;
		width: 100%;

		@include media ($medium-screen-up) {
			width: 66.66%;
		}

		.gallery {
			float: left;
			width: 100%;
			margin-bottom: 0;

			img {
				width: 100%;
			}	
		}

		.secondary-images {
			float: left;
			width: 100%;

			.enquiry {
				float: left;
				width: 100%;
				height: 250px;
				background-color: $brand-secondary;	

				@include media ($medium-screen-up) {
					width: 50%;
					height: 100%;
				}

				ul {
					list-style: none;
					width: 100%;
					margin: 0 auto;
					padding: 0 20px;

					@include media ($medium-screen-up) {
						width: 169px;
						padding: 0px;
					}

					li {

						.icon {
							background-repeat: no-repeat;
							background-size: 26px auto;
							padding-left: 28px;
							background-position: left center;
							padding: 6px 0 6px 35px;
							line-height: 3;
						}

						.download {
							background-image: url(assets/download.svg);
						}
						.email {
							background-image: url(assets/email.svg);
						}
						.enquire {
							background-image: url(assets/enquire.svg);
						}

						a {
							text-transform: uppercase;
							color: #fff;
						}
					}
				}
			}

			.secondary-img {
				float: left;
				width: 100%;

				@include media ($medium-screen-up) {
					width: 50%;
				}

				img {
				width: 100%;
				}
			}
		}
	}

	#right-section {
		position: relative;
		float: right;
		width: 100%;

		@include media ($medium-screen-up) {
			width: 33.33%;
		}

		.tertiary-img {
			width: 100%;

			img {
				width: 100%;
			}
		}

		.feature_thumb {
			height: 250px;
			background-repeat:no-repeat;
			background-size: cover;
			background-position: center;

			@include media ($medium-screen-up) {
				height: 100px;
			}

			@include media ($large-screen-up) {
				height: 400px;
			}
		}

		.vehicle-details {
			max-width: 250px;
			margin: auto;
			@include rem(padding, 50px 20px);

			dl {
				dt, dd {
    				float: left;
    				width: 50%;
    				margin: 0;
				}
			}
		}

		.more {
			background-image: url(assets/arrow-right-black.svg);
			background-position: left center;
			background-repeat: no-repeat;
			background-size: 21px 19px;
			padding: 0 0 0 32px;
			margin-top: 50px;
			float: none;
			display: inline-block;
			text-transform: uppercase;
		}
	}
}

/*==============================
=        WHAT WE OFFER        =
==============================*/

.entry-content {
	@include rem(margin-top, 50px);
	margin-bottom: 0;

	.intro-text {
		@include row;
		width: 100%;
		text-align: left;
		@include rem(padding, 0 20px);

		p {
			&:first-of-type {
				margin-bottom: 0;
			}
		}

		@include media ($medium-screen-up) {
			width: 100%;
			text-align: center;
			max-width: 870px;
			margin-left: auto;
			margin-right: auto;
			@include rem(padding, 0 20px 0);
		}

		hr {
			width: 40px;
			@include rem(margin, 15px 0);

			@include media ($medium-screen-up) {
				@include rem(margin, 15px auto);
			}
		}

		p {
			@include rem(font-size, 15px);
		}
	}

	.columns {
		@include row;
		width: 100%;
		max-width: 880px;
		margin-left: auto;
		margin-right: auto;
		padding: 0 20px;

		@include media ($large-screen-up) {
			padding: 0;
			@include rem(margin-top, 50px);
		}

		.column {
			@include span-columns(12);

			@include media ($medium-screen-up) {
				@include span-columns(4.5);
			}

			@include media ($large-screen-up) {
				@include span-columns(6);
			}

			p {
				color: $text-color;
			}
		}
	}

	.trio {
		@include row;
		width: 100%;
		@include rem(margin-top, 50px);
		@include rem(padding, 50px);
		background-color: $brand-secondary;

		.column {

			.box {
				max-width: 250px;
				margin: 0 auto;
			}

			@include span-columns(12);

			@include media ($medium-screen-up) {
				@include span-columns(3);
			}

			@include media ($large-screen-up) {
				@include span-columns(4);
			}

			hr {
				background-color: white;
			}

			h2, p, {
				color: $background-color;

			}

			h2 {
			}
		}
	}
}

.what-we-offer {
	
	#section_one {
	
		.left_section {
			float: left;
			width: 100%;
			min-height: 250px;

			@include media ($medium-screen-up) {
				width: 33.333%;
				min-height: 400px;
				height: 100%;
			}

			.table {
				max-width: 250px;
				margin: auto;
				@include rem(padding, 50px 20px);
			}

			.more {
				background-image: url(assets/arrow-right-black.svg);
				background-position: left bottom;
				background-repeat: no-repeat;
				background-size: 21px 19px;
				padding: 0 0 23px 0;
				float: left;
				text-transform: uppercase;
				margin-top: 5px;
			}
		}

		.right_section {
			float: right;
			width: 100%;
			height: 500px;

			@include media ($medium-screen-up) {
				width: 66.666%;
				min-height: 400px;
				height: 400px;
			}
		}

		.img {
			float: left;
			width: 100%;
			height: 250px;
			background-repeat:no-repeat;
			background-size: cover;
			background-position: center;
			
			@include media ($medium-screen-up) {
				width: 50%;
				height: 100%;
			}
		}
	}

	#section_two {
	
		.right_section {
			float: right;
			width: 100%;

			@include media ($medium-screen-up) {
				display: block;
				width: 33.333%;
				min-height: 400px;
				height: 100%;
			}

			.table {
				max-width: 250px;
				margin: auto;
				@include rem(padding, 50px 20px);
			}

			.more {
				background-image: url(assets/arrow-right-black.svg);
				background-position: left bottom;
				background-repeat: no-repeat;
				background-size: 21px 19px;
				padding: 0 0 23px 0;
				float: left;
				text-transform: uppercase;
				margin-top: 5px;
			}
		}

		.left_section {
			float: left;
			display: none;

			@include media ($medium-screen-up) {
				display: block;
				width: 66.666%;
				min-height: 400px;
				height: 400px;
			}
		}

		.img {
			float: left;
			width: 50%;
			height: 100%;
			background-repeat:no-repeat;
			background-size: cover;
			background-position: center;
		}
	}
}

/*==============================
=             BLOG             =
==============================*/

.blog {

	#content {
		@include rem(padding, 100px 0 0 0);
	}
}

.site-content {

	.post {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid black;

		.container {

			.entry-content {
				float: left;
				width: 100%;
				margin-top: 0;
				margin-right: 0;

				@include media ($medium-screen-up) {
					width: 45%;
					margin-right: 20px;
				}
			}

			.entry-image, .read-more {
				float: left;
				width: 100%;
				@include rem(margin-top, 0);
				margin-right: 0;
				background: #080707;

				@include media ($medium-screen-up) {
					width: 23%;
					margin-right: 20px;
					//@include rem(margin-top, 50px);
				}

				a {
					color: white;
					height: 100%;
					width: 100%;
					display: block;
					padding: 20px 0;

					@include media ($medium-screen-up) {
						padding: 0;
					}

					h2 {
						color: white;
						margin: 0;
					}
				}

				img {
					width: 100%;
				}
			}

			.entry-content, .entry-image {
				@include rem(margin-right, 20px);
			}
		}
	}
}

/*==============================
=        BLOG - SINGLE        =
==============================*/

.single-post {
	
	.hentry {
		@include rem(padding, 50px 0);
	}

	.entry-header {
		@include rem(margin-bottom, 50px);
	}

	.entry-content {
		margin-top: 0;
	}
}

/*==============================
=           CONTACT           =
==============================*/

#gform_wrapper_1 {
	margin: 0;
	@include rem(padding-bottom, 25px);

	.gfield_label {
		@include rem(font-size, 14px);
	}

	.ginput_complex {
		span {
			label {
				display: none;
			}
		}
	}

	li#field_1_2, li#field_1_3 {
	    width: 50%;
	    float: left;
	    clear: none;

	    input {
	    	width: 94%;
	    }

	}

	.gform_footer {
		.gform_button {
			color: $brand-primary;

			&:hover {
				color: #fff;
			}
		}
	}
}
